{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Portfolio{% endblock %}

{% block body %}

<h1>Bienvenue sur mon portfolio !</h1>

<p>
    Bonjour, je suis <strong>Clément</strong>, étudiant en Réseaux et Télécommunication.
</p>

<h2>À propos de moi</h2>
<p>
    J'adore apprendre de nouvelles choses surtout quand il s'agit d'informatique :
    Programmation, cybersécurité, multimédia, éléctronique, packer tracer etc.
</p>

<h2>Projets récents</h2>
<ul>
    <li>Projet 1 : Description rapide</li>
    <li>Projet 2 : Description rapide</li>
    <li>Projet 3 : Description rapide</li>
</ul>

<img src="/images/under-construction2.avif" alt="En construction">

{% endblock %}