{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Créer mon CV</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }} 
        <button onclick="window.print()" class="btn-download">Print this CV to PDF</button>

        <button type="submit" class="btn-gradient" style="margin-top: 20px;">
            <div class="border-layer"><div class="bg-dark"></div></div>
            <div class="inner-layers"></div>
            <div class="gradient-overlay"></div>
            <div class="hover-effect"></div>
            <span class="text-content">Générer mon CV</span>
        </button>
    {{ form_end(form) }}
{% endblock %}