body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f6f8;
    color: #333;
}

header {
    background: #0f172a;
    padding: 15px 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

h1, h2 {
    color: #0f172a;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
    color: white;
    margin-top: 40px;
}
/* Background Universe of UI */
.background-pattern {
  min-height: 100vh;
  width: 100%;

  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background:
    repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );

  background-size: var(--s) calc(var(--s) * 0.577);
}
