{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1>Contact</h1>

<p>Email : <strong>clement.rey2@etu.univ-st-etienne.fr</strong></p>

<p>
    GitHub :
    <a href="https://github.com/Clement-Rey07" target="_blank">
        https://github.com/Clement-Rey07
    </a>
</p>
{% endblock %}
