{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
<h1>Mes projets</h1>

<ul>
    <li><strong>Portfolio Symfony</strong> – Présentation personnelle</li>
    <li><strong>Initiation au réseaux informatiques</strong> – Configurations de Commutateurs et de Réseaux</li>
    <li><strong>Portfolio sur le cloud</strong> – Détails des ressources et ressenti</li>
</ul>
{% endblock %}
